.lp-button {
  padding: 16px 24px;
  border-radius: var(--radius-md);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 16px;

  &:before {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: rotating 1s linear infinite;
    margin-right: 10px;
  }

  &.loading {
    pointer-events: none;

    &:after {
      opacity: 1;
    }

    &:before {
      display: block;
    }
  }

  @media all and (max-width: 768px) {
    span {
      font-size: 14px;
    }
  }

  &:after {
    @include pseudo();
    background-color: rgba(var(--color-white-rgb), .1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
  }

  span {
    pointer-events: none;
  }

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &.default {
    padding: 16px;
    min-height: unset;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &.primary {
    color: var(--color-white);
    background-color: var(--color-primary);

    &:before {
      border: 2px solid var(--color-white);
      border-bottom: 2px solid transparent;
    }
  }

  &.primary {
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  &.secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    transition: box-shadow var(--transition);
    &:before {
      border: 2px solid var(--color-primary);
      border-bottom: 2px solid transparent;
    }
    &:hover {
      box-shadow: inset 0 0 0 2px var(--color-primary);
    }
  }
}