<section id="banner" class="banner">
    <div class="container">
        <div class="banner__pic"></div>
        <div class="banner__contacts">
            <div class="banner__contacts-item">
                <span class="banner__contacts-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#location"/>
                    </svg>
                </span>
                <div class="banner__contacts-value">
                    <span>г. Ташкент, Яккасарайский район, ул. Улугбека 5/36</span>
                </div>
            </div>
            <div class="banner__contacts-item">
                <span class="banner__contacts-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#wifi"/>
                    </svg>
                </span>
                <div class="banner__contacts-value">
                    <span>Restaurant_wifi_123456789</span>
                </div>
            </div>
            <div class="banner__contacts-item">
                <span class="banner__contacts-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#phone"/>
                    </svg>
                </span>
                <div class="banner__contacts-value">
                    <a href="tel:+998905000005">+998 90 500 - 00 - 05</a>
                    <a href="tel:1055">1055</a>
                </div>
            </div>
        </div>
    </div>
</section>