<header class="header">
    <div class="container">
        <h1 class="header__heading">Restaurant name</h1>
    </div>
</header>
<div class="navigation">
    <div class="container">
        <nav class="navigation__inner">
            <ul class="navigation__list">
                <span class="badge"></span>
                <li class="navigation__list-item">
                    <a href="#hot">Горячие блюда</a>
                </li>
                <li class="navigation__list-item">
                    <a href="#salad">Салаты</a>
                </li>
                <li class="navigation__list-item">
                    <a href="#desert">Десерты</a>
                </li>
                <li class="navigation__list-item">
                    <a href="#cocktail">Коктейли</a>
                </li>
                <li class="navigation__list-item">
                    <a href="#vareniki">Вареники домашние</a>
                </li>
                <li class="navigation__list-item">
                    <a href="#cesar">Цезарь с курицей</a>
                </li>
            </ul>
        </nav>
    </div>
</div>