<div class="languageSwitcher">
    <div class="languageSwitcher__head">
        <div class="languageSwitcher__item">
            <div class="languageSwitcher__icon">
                <svg>
                    <use xlink:href="#russianFlag"/>
                </svg>
            </div>
            <div class="languageSwitcher__arrow">
                <svg>
                    <use xlink:href="#arrowDown"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="languageSwitcher__body">
        <a href="/" class="languageSwitcher__item" data-lang="ru">
            <div class="languageSwitcher__icon">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#russianFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">РУС</span>
        </a>
        <a href="/uz.html" class="languageSwitcher__item" data-lang="uz">
            <div class="languageSwitcher__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#uzbekFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">OʻZB</span>
        </a>
        <a href="/en.html" class="languageSwitcher__item" data-lang="en">
            <div class="languageSwitcher__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#engFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">ENG</span>
        </a>
    </div>
</div>