<section id="hot" class="section">
    <div class="container">
        <h2 class="section__title">Горячие блюда</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>
<section id="salad" class="section">
    <div class="container">
        <h2 class="section__title">Салаты</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>
<section id="desert" class="section">
    <div class="container">
        <h2 class="section__title">Десерты</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>
<section id="cocktail" class="section">
    <div class="container">
        <h2 class="section__title">Коктейли</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>
<section id="vareniki" class="section">
    <div class="container">
        <h2 class="section__title">Вареники домашние</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>
<section id="cesar" class="section">
    <div class="container">
        <h2 class="section__title">Цезарь с курицей</h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title">
                            <span>Вареники домашние</span>
                        </div>
                        <span class="list__card-weight">250 г</span>
                        <div class="list__card-desc">
                            Вареники с картофельным пюре и жареными лисичками
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>