<header class="header">
    <div class="container">
        <div class="header__heading header__heading--skeleton skeleton"></div>
    </div>
</header>
<div class="navigation">
    <div class="container">
        <nav class="navigation__inner">
            <ul class="navigation__list">
                {{#times 6}}
                    <li class="navigation__list-item skeleton navigation__list-item--skeleton"></li>
                {{/times}}
            </ul>
        </nav>
    </div>
</div>