<section class="section">
    <div class="container">
        <h2 class="section__title skeleton section__title--skeleton"></h2>
        <div class="list">
            {{#times 10}}
                <div class="list__card">
                    <div class="list__card-pic skeleton"></div>
                    <div class="list__card-bottom">
                        <div class="list__card-title skeleton list__card-title--skeleton"></div>
                        <span class="list__card-weight skeleton list__card-weight--skeleton"></span>
                        <div class="list__card-desc list__card-desc--skeleton">
                            {{#times 3}}
                                <div class="list__card-desc-skeleton-row skeleton"></div>
                            {{/times}}
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>