<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon.ico">
</head>
<body>
    <svg style="position: absolute; top: -1000px; left: -1000px; pointer-events: none; opacity: 0">
        {{> template-parts/sprites }}
    </svg>
    <!--noindex-->
    <div class="loader" aria-hidden="true">
        {{> template-parts/skeleton/header }}
        {{> template-parts/skeleton/banner }}
        {{> template-parts/skeleton/products }}
    </div>
    <!--/noindex-->
    <div class="root d-none"><!--content will here--></div>
    {{> template-parts/modal type="modal" }}
</body>
</html>